* {
    box-sizing: border-box;
}

/* Style the body */
body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Georgia, serif;
    margin: 0;
    font-size:16px;
}

/* Header/logo Title */

.header {
    padding: 25px;
    text-align: center;
    background-color:gold;
    color: black;
}

/* Increase the font size of the heading */

.header h1 {
    position: center;
    top: 18px;
    left: 10px;
    font-size: 30px;
}

.header p {
    position: center;
    top: 18px;
    left: 10px;
    font-size: 20px;
    font-weight:bold;
}

.header img {
    width: 150px;
    height: auto;
    max-width: 150px;
    border-radius: 50%;
    float: left;
    margin-top:-15px;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

/* Style the navigation bar links */
.navbar a {
    font-size:16px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */

.navbar a.right {
    float: right;
}

.navbar a.left {
    float: left;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: lightyellow;
}

/*floating button*/
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 100px;
    right: 30px;
    background-color: black;
    color: white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #4e4d4d;
}

.my-float {
    margin-top: 18px;
    font-size:150%;
}

.float .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #4e4d4d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.float .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.float:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Column container */
/* Main column */
.main {
    -ms-flex: 100%;
    flex: 100%;
    padding: 100px;
    height: 100%;
    width: 100%;
    background-image: url("../images/1.jpg");
    background-position: center;
    background-size:cover;
}

.main1 {
    -ms-flex: 100%;
    flex: 100%;
    padding: 100px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size:cover;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

img {
    width: 80%;
    height: auto;
    max-width: 500px;
}

input[type=text], input[type=tel], input[type=password], input[type=file],input[type=number],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=time]{
    width: 32%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input.checkbox{
    width:14px;
    height:14px;
}

input[type=submit] {
    background-color:dodgerblue;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    cursor: pointer;
    float: right;
    width: 100%;
    margin-top:10px;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color:darkturquoise;
}

.container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    border:2px solid rgb(114, 151, 41);
}

.container2 {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left:25%;
    width:50%;
    border:2px solid rgb(114, 151, 41);
}

.col-25 {
    float: left;
    width: 100%;
    margin-top:-5px;
}

.col-75 {
    float: left;
    width: 95%;
    margin-top: -5px;
    margin-left:10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.icon {
    color: black;
    min-width: 10%;
    text-align: center;
    margin-top: 6px;
    padding: 12px 5px;
}

.input-icons i {
    position: absolute;
    right:10px;
    top:3px;
    cursor: pointer;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
    position:relative;
}

/* landing page */
.container1 {
    padding: 64px;
}
  
.row1:after {
    content: "";
    display: table;
    clear: both
}
  
.column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
    margin-top:-20px;
}
  
.column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
}
  
.large-font {
    font-size: 48px;
}
  
.xlarge-font {
    font-size: 64px
}
  
.button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(215, 230, 248);
}

/*main*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-family: calibri;
    border: 3px solid black;
    color: darkslateblue;
    padding-bottom: 10px;
    background-color: rgb(220, 243, 252);
    font-weight: bold;
}

.card img{
    width:90%;
    height:40%;
}

.card:hover {
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2);
}

.column-card {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin-top: 10px;
    align-items: center;
}

.column {
    float: left;
    width: 50%;
    padding-bottom: 10px;
    column-count: 2;
}

/*search*/
.navbar1{
    overflow: hidden;
    background-color: #333;
    width: 100%;
    margin-top:-2%;
}

button[type=submit] {
    background-color: gold;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-top: 8px;
}

.column1{
    float: left;
    padding-bottom: 10px;
    margin-right:10px;
    margin-left:20px;
}

.column1 input[type=text]{
    width:105%;
}

.column1 select{
    width:105%;
}

/*image*/
.imgselection {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: inline-block;
    border: 3px solid black;
    border-radius: 5%;
}
  
.forget{
    background-color: dodgerblue;
    padding: 15px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}

.forget:hover{
    background-color:darkturquoise;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gold;
    color: black;
    text-align: center;
    font-weight:bold;
}

.logout {
    position: relative;
    float: right;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
  
.logout:hover, .logout:focus {
    color: rgb(167, 216, 238);
    cursor: pointer;
}

/*dropdown login and register*/
.dropdown {
    float: right;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size:16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 98px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: black;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content1 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content1 a:hover {
    background-color: black;
}
  
.dropdown:hover .dropdown-content1 {
    display: block;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 98%;
        margin-top: 0;
    }
    select{
        width:98%;
    }
    .main{
        padding: 10px;
        background-image: url("../images/1.jpg");
    }
    .row {
        grid-template-columns: repeat(2,1fr); 
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 30px;
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
        font-family: calibri;
        border: 3px solid black;
        color: darkslateblue;
        padding-bottom: 10px;
        background-color: rgb(220, 243, 252);
        font-weight: bold;
    }

    .card:hover {
        box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2);
    }

    .column-card {
        float: left;
        width: 50%;
        padding: 0 10px;
        margin-top: 10px;
        align-items: center;
    }

    .column {
        float: left;
        width: 50%;
        padding-bottom: 10px;
        column-count: 2;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /*search*/
    button[type=submit] {
        background-color: gold;
        color: white;
        padding: 15px 50px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 8px;
        margin-left:0px;
    }

    .column1{
        float: left;
        padding-bottom: 10px;
        margin-right:10px;
        margin-left:20px;
    }

    .column1 input[type=text]{
        width:100%;
    }   

    .column1 select{
        width:100%;
        margin-left:-25px;
    }

    .container2 {
        border-radius: 10px;
        background-color: #f2f2f2;
        padding: 10px;
        margin-left:-35%;
        width:360px;
        border:2px solid rgb(114, 151, 41);
    }

    .logout {
        position: relative;
        float: right;
        top: 110px;
        right: -10px;
        color: white;
        font-size: 40px;
        font-weight: bold;
    }
  
    .logout:hover,.logout:focus {
        color: rgb(167, 216, 238);
        cursor: pointer;
    }
}

/* Responsive layout - when the screen is more than 1000px wide */
@media screen and (min-width: 1000px) {
    .container {
        width: 50%;
        margin: auto;
    }
    .main{
        padding: 100px;
    }
    .row {  
        grid-template-columns: repeat(4,1fr);  
    }

    /* Main column */
    .main {
        -ms-flex: 100%;
        flex: 100%;
        padding: 100px;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size:cover;
        background-image: url("../images/1.jpg");
    }

    .main1 {
        -ms-flex: 100%;
        flex: 100%;
        padding: 100px;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size:cover;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 30px;
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
        font-family: calibri;
        border: 3px solid black;
        color: darkslateblue;
        padding-bottom: 10px;
        background-color: rgb(220, 243, 252);
        font-weight: bold;
        grid-template-columns: repeat(2, 1fr);
    }

    .column-card {
        float: left;
        width: 25%;
        padding: 0 10px;
        margin-top: 10px;
        align-items: center;
    }   

    .column {
        float: left;
        width: 25%;
        padding-bottom: 10px;
        column-count: 2;
    }

    /* Footer */
    .footer {
        padding: 20px;
        text-align: center;
        background-color:gold;
        color: black;
        font-weight: bold;
        width: 100%;
        bottom: -10px;
        width: 100%;
        overflow: hidden;
    }
}

@media screen and (max-width: 1000px) {
    .column-66,.column-33 {
        width: 100%;
        text-align: center;
    }

    img {
         margin: auto;
    }
}
